---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% assign author = site.data.authors[post.author] %}
  <h1><a href="{{ post.url }}:9000">{{ post.title }}</a></h1>
  <p class="author">
    <span class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • By <a href="{{ author.url }}" class="post-author-link"><span class="post-author-name"><img src="{{ author.avatar }}" class="post-author-avatar"> {{ author.name }}</span></a>
      {% endif %}
    </span>
  </p>
  <div class="content">
    {{ post.excerpt }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
